@use "../abstracts" as *;

body {
  font-family: var(--primary-font);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-grey-dark-800);
}

p {
  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.heading-1 {
  font-size: var(--fs-heading-1);
  font-weight: 800;
  font-style: italic;
  text-transform: lowercase;
  line-height: 0.85;
  margin-bottom: var(--space-sm);

  &--light {
    color: var(--color-grey-light-800);
  }
}

.heading-2 {
  font-size: var(--fs-heading-2);
  font-weight: 800;
  font-style: italic;
  text-transform: lowercase;
  line-height: 1;
  margin-bottom: var(--space-sm);

  &--light {
    color: var(--color-grey-light-800);
  }
}

.heading-3 {
  font-size: var(--fs-heading-3);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: var(--space-xs);

  &--light {
    color: var(--color-grey-light-800);
  }
}

.heading-4 {
  font-size: var(--fs-heading-4);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: var(--space-xs);

  &--light {
    color: var(--color-grey-light-800);
  }
}

.link {
  color: var(--color-secondary-700);
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--color-secondary-500),
    var(--color-secondary-700)
  );
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  backface-visibility: hidden;
  transition: all 0.4s;
  padding-bottom: 0.4rem;

  // Make sure long URLs wrap
  @include breakWords;

  &:hover,
  &:focus {
    background-size: 100% 3px;
  }

  &--bold {
    font-weight: 600;
  }
}
