@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}
