@use "./functions" as *;
@use "./breakpoints" as *;

// LAYOUT
:root {
  --padding-y: 7rem;
  --padding-x: 9rem;
  --padding-outer: var(--padding-y) var(--padding-x);

  --nav-height: 6rem;

  --space-lg: 7rem;
  --space-md: 5rem;
  --space-sm: 3rem;
  --space-xs: 2rem;
  --space-xxs: 1rem;

  @media only screen and (max-width: $bp-l) {
    --padding-x: 7rem;
  }
  @media only screen and (max-width: $bp-s) {
    --padding-x: 3rem;
  }
}

// COLOURS
$colors: (
  primary: (
    300: #80b5ff,
    400: #4090ff,
    500: #006aff,
    600: #004ab3,
    700: #002a66,
  ),
  secondary: (
    300: #ffaa33,
    500: #ff9500,
    700: #cc7700,
  ),
  grey-light: (
    200: #f7f7f7,
    400: #eeeeee,
    600: #bdbdbd,
    800: #a2a2a7,
  ),
  grey-dark: (
    200: #999999,
    400: #777777,
    600: #444444,
    800: #212121,
  ),
);
// RGBS
$rgbs: (
  primary: (
    300: (
      128,
      181,
      255,
    ),
    400: (
      64,
      144,
      255,
    ),
    500: (
      0,
      106,
      255,
    ),
    600: (
      0,
      74,
      179,
    ),
    700: (
      0,
      42,
      102,
    ),
  ),
  secondary: (
    300: (
      255,
      170,
      51,
    ),
    500: (
      255,
      149,
      0,
    ),
    700: (
      204,
      119,
      0,
    ),
  ),
  grey-light: (
    200: (
      247,
      247,
      247,
    ),
    400: (
      238,
      238,
      238,
    ),
    600: (
      189,
      189,
      189,
    ),
    800: (
      162,
      162,
      167,
    ),
  ),
  grey-dark: (
    200: (
      153,
      153,
      153,
    ),
    400: (
      119,
      119,
      119,
    ),
    600: (
      68,
      68,
      68,
    ),
    800: (
      33,
      33,
      33,
    ),
  ),
);

:root {
  @each $rgb, $shades in $rgbs {
    @each $shade, $value in $shades {
      --color-#{$rgb}-#{$shade}: rgb(#{$value});
    }
  }

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --rgb-black: 0, 0, 0;
  --rgb-white: 255, 255, 255;

  @each $rgb, $shades in $rgbs {
    @each $shade, $value in $shades {
      --rgb-#{$rgb}-#{$shade}: #{$value};
    }
  }
}

// SHADOWS and corners
:root {
  --shadow-xs: 0 0rem 1rem rgba(var(--rgb-black), 0.15);
  --shadow-sm: 0 0.2em 1.5rem rgba(var(--rgb-black), 0.2);
  --shadow-md: 0 0.4rem 2rem rgba(var(--rgb-black), 0.3);
  --shadow-lg: 0 0.4rem 2.5rem rgba(var(--rgb-black), 0.35);
  --shadow-xl: 0 0.8rem 3rem rgba(var(--rgb-black), 0.4);

  --radius-sm: 3px;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}

// FONTS AND ICONS
:root {
  --primary-font: "Montserrat", sans-serif;

  --fs-extra-small: 1.4rem;
  --fs-small: 1.6rem;
  --fs-body: 1.8rem;
  --fs-heading-4: 2.2rem;
  --fs-heading-3: 3rem;
  --fs-heading-2: 5.5rem;
  --fs-heading-1: 11rem;

  --icon-size-sm: 3rem;

  @media only screen and (min-width: $bp-xxl) {
    --fs-heading-4: 2.3rem;
    --fs-heading-3: 3.5rem;
    --fs-heading-2: 6rem;
    --fs-heading-1: 12rem;
  }

  @media only screen and (max-width: $bp-m) {
    --fs-heading-1: 8rem;
    --fs-heading-2: 4.7rem;
  }

  @media only screen and (max-width: $bp-s) {
    --fs-heading-1: 6rem;
    --fs-heading-2: 4rem;
    --fs-heading-3: 2.6rem;
  }

  @media only screen and (max-width: $bp-xs) {
    --fs-heading-1: 5.5rem;
    --fs-heading-2: 3.8rem;
    --fs-body: 13px;
    --fs-small: 12px;
    --fs-extra-small: 11px;
  }
}

// COOKIE CONSENT BANNER
:root {
  --cc-font-family: var(--primary-font) !important;
  --cc-font-size: 14px !important;
  --cc-bg: var(--color-grey-dark-800) !important;
  --cc-z-index: 2147483647 !important;
  --cc-text: var(--color-grey-light-200) !important;
  --cc-btn-primary-bg: var(--color-primary-300) !important;
  --cc-btn-primary-text: var(--cc-bg) !important;
  --cc-btn-primary-hover-bg: var(--color-primary-700) !important;
  --cc-btn-secondary-bg: var(--color-grey-light-400) !important;
  --cc-btn-secondary-text: var(--cc-bg) !important;
  --cc-btn-secondary-hover-bg: var(--color-grey-light-600) !important;

  --cc-toggle-bg-off: #919ea6 !important;
  --cc-toggle-bg-on: var(--cc-btn-primary-bg) !important;
  --cc-toggle-bg-readonly: #d5dee2 !important;
  --cc-toggle-knob-bg: var(--color-grey-light-200) !important;
  --cc-toggle-knob-icon-color: var(--color-grey-light-200) !important;
  --cc-block-text: var(--cc-text) !important;
  --cc-cookie-category-block-bg: var(--color-grey-dark-600) !important;
  --cc-cookie-category-block-bg-hover: var(--color-grey-dark-400) !important;
  --cc-section-border: var(--color-grey-light-200) !important;
  --cc-cookie-table-border: #e9edf2 !important;
  --cc-overlay-bg: rgb(4, 6, 8) !important;
  --cc-webkit-scrollbar-bg: #cfd5db !important;
  --cc-webkit-scrollbar-bg-hover: #9199a0 !important;
}
