:root {
  --padding-y: 7rem;
  --padding-x: 5vw;
  --padding-outer: var(--padding-y) var(--padding-x);
  --nav-height: 10rem;
  --grid-row-gap: 5rem;
}

:root {
  --color-primary-300: #b2c4ba;
  --color-primary-500: #4f5f63;
  --color-primary-700: #3d4a4d;
  --color-secondary-300: #c46c17;
  --color-secondary-500: #a75c14;
  --color-secondary-700: #844910;
  --color-grey-light-200: #f3f4f1;
  --color-grey-light-400: #ebeee8;
  --color-grey-light-600: #dee2d8;
  --color-grey-light-800: #c6cdbc;
  --color-grey-dark-200: #626774;
  --color-grey-dark-400: #494c56;
  --color-grey-dark-600: #31343a;
  --color-grey-dark-800: #232529;
  --color-black: #000000;
  --color-white: #ffffff;
}

:root {
  --shadow-sm: 0 0.5rem 1rem rgba(var(--color-black), 0.2);
  --shadow-md: 0 1.5rem 2rem rgba(var(--color-black), 0.3);
  --shadow-lg: 0 2.5rem 4rem rgba(var(--color-black), 0.4);
  --shadow-xl: 0 4rem 5rem rgba(var(--color-black), 0.6);
}

:root {
  --primary-font: "Roboto", sans-serif;
  --default-font-size: 2rem;
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(-25deg) scale(1);
  }
  50% {
    transform: rotate(25deg) scale(1.1);
  }
  100% {
    transform: rotate(-25deg) scale(1);
  }
}
@keyframes wave {
  0% {
    transform: rotate(-25deg) scale(1);
  }
  50% {
    transform: rotate(25deg) scale(1.1);
  }
  100% {
    transform: rotate(-25deg) scale(1);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
@keyframes shake {
  0% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: px-to-em(2000)) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: px-to-em(1024)) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: px-to-em(600)) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

picture {
  display: block !important;
  height: 100% !important;
  width: 100%;
}

picture img {
  display: block !important;
  height: 100% !important;
  max-height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

::-moz-selection {
  background-color: rgba(var(--color-primary-500), 0.9);
}

::selection {
  background-color: rgba(var(--color-primary-500), 0.9);
}

body {
  font-family: var(--primary-font);
  font-size: var(--default-font-size);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-800);
}

p:not(:last-child) {
  margin-bottom: 1.6rem;
}

.heading-1 {
  font-size: 10rem;
  font-weight: 300;
  line-height: 1.5;
}
@media only screen and (max-width: px-to-em(600)) {
  .heading-1 {
    font-size: 9rem;
  }
}
@media only screen and (max-width: px-to-em(360)) {
  .heading-1 {
    font-size: 7rem;
  }
}

.heading-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 4rem;
}
.heading-2--dark {
  color: var(--color-grey-dark-800);
}
@media only screen and (max-width: px-to-em(820)) {
  .heading-2 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: px-to-em(600)) {
  .heading-2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: px-to-em(360)) {
  .heading-2 {
    font-size: 3.5rem;
  }
}

.heading-3 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.heading-3--dark {
  color: var(--color-grey-dark-800);
}
@media only screen and (max-width: px-to-em(600)) {
  .heading-3 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: px-to-em(360)) {
  .heading-3 {
    font-size: 2.8rem;
  }
}

.link {
  color: var(--color-secondary-700);
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(to right, var(--color-secondary-500), var(--color-secondary-700));
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.4s;
  padding-bottom: 0.4rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.link:hover, .link:focus {
  background-size: 100% 3px;
}
.link--bold {
  font-weight: 600;
}

.mt-lg {
  margin-top: 8rem !important;
}
@media only screen and (max-width: px-to-em(1440)) {
  .mt-lg {
    margin-top: 6rem !important;
  }
}

.mt-md {
  margin-top: 4rem !important;
}
@media only screen and (max-width: px-to-em(1440)) {
  .mt-md {
    margin-top: 3rem !important;
  }
}

.mt-sm {
  margin-top: 2rem !important;
}
@media only screen and (max-width: px-to-em(1440)) {
  .mt-sm {
    margin-top: 1.5rem !important;
  }
}

.mb-lg {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: px-to-em(1440)) {
  .mb-lg {
    margin-bottom: 6rem !important;
  }
}

.mb-md {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: px-to-em(1440)) {
  .mb-md {
    margin-bottom: 3rem !important;
  }
}

.mb-sm {
  margin-bottom: 2rem !important;
}
@media only screen and (max-width: px-to-em(1440)) {
  .mb-sm {
    margin-bottom: 1.5rem !important;
  }
}